<div class="commentBox">
    <div class="comments">
<li>{{comment.content}} - by {{comment.author}}</li>
</div>
<button class="deleteCom"
{{action 'delete' comment}}>Delete Comment</button>
</div>
<!-- <button class="deleteCom"
{{action 'delete' comment}}>Delete Comment</button> -->
