  <nav class="navbar navbar-default navbar-fixed-top">
      <ul class="nav navbar-nav">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'about'}}About{{/link-to}}</a></li>
        <li><a>{{#link-to 'contact'}}Contact{{/link-to}}</a></li>
      </ul>
  </nav>
  <div class= "container">
  <header class="header">
    <h1>Dog Blog</h1>
  </header>
  {{outlet}}
<footer>
  <p>Alvaro & David @epicodus</p>
</footer>
</div>

<!-- <div class="ui sidebar inverted vertical menu">
  <a class="item">
    {{#link-to 'about'}}About{{/link-to}}
  </a>
  <a class="item">
    {{#link-to 'contact'}}Contact{{/link-to}}
  </a>
  <a class="item">
    {{#link-to 'index'}}Home{{/link-to}}
  </a>
</div>
<div class="pusher">

</div>
